@import "tailwindcss";


@theme {
    --color-link-color: #1b2acf;
    --color-text-color: #111111;
    --color-background-color: #000000;
    --color-heading-color: #ff0000;
    --color-border-color: #44444d;
}